In [1]:
import quandl

In [19]:
data=quandl.get("LBMA/GOLD", authtoken="ZbxGsy8jS4AxssbNsHEp", start_date="2006-01-02")

In [6]:
metadata = quandl.Dataset("LBMA/GOLD").data_fields()
print metadata

[u'dataset_code', u'column_names', u'newest_available_date', u'description', u'database_id', u'refreshed_at', u'frequency', u'database_code', u'oldest_available_date', u'premium', u'type', u'id', u'name']

In [10]:
print quandl.Dataset("LBMA/GOLD").data()[0]

<quandl.model.data.Data object at 0x0000000009E46860>

In [12]:
print data

            USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
Date
2006-01-03    520.75    530.00   300.803   305.740    437.973    443.515
2006-01-04    534.35    529.50   304.386   300.921    442.893    438.110
2006-01-05    531.60    524.75   303.511   298.833    439.339    434.036
2006-01-06    529.50    535.25   301.795   302.572    437.965    440.173
2006-01-09    541.00    541.50   306.082   306.625    447.551    448.076
2006-01-10    545.25    543.50   308.138   307.496    450.508    450.104
2006-01-11    542.25    544.40   309.186   309.529    449.515    449.992
2006-01-12    547.50    542.50   309.095   308.326    450.691    451.444
2006-01-13    547.25    548.25   309.688   309.781    453.510    454.489
2006-01-16    559.40    561.75   315.867   318.200    460.601    463.758
2006-01-17    558.05    553.25   316.534   314.347    460.818    458.862
2006-01-18    544.75    545.00   308.064   308.782    449.204    450.227
2006-01-19    547.70    554.75   311.600   315.917    453.131    459.230
2006-01-20    559.25    567.25   317.900   321.152    462.879    468.802
2006-01-23    558.50    554.50   313.359   310.731    454.990    451.621
2006-01-24    556.65    557.25   312.024   312.010    453.372    453.971
2006-01-25    562.25    561.75   313.756   314.090    456.631    457.824
2006-01-26    562.25    556.50   314.898   311.242    458.830    454.137
2006-01-27    559.75    561.75   314.378   315.147    458.286    460.526
2006-01-30    560.30    565.00   317.361   319.353    463.518    467.174
2006-01-31    569.80    568.75   321.231   320.820    470.792    469.111
2006-02-01    567.20    568.25   319.010   319.601    467.601    469.318
2006-02-02    571.85    572.15   322.078   322.247    473.699    474.144
2006-02-03    571.85    569.00   321.988   322.562    473.582    474.167
2006-02-06    570.00    569.75   324.694   325.571    475.000    475.982
2006-02-07    568.25    558.70   324.807   320.245    473.937    466.555
2006-02-08    548.65    548.75   314.647   315.102    458.239    459.013
2006-02-09    559.00    560.25   320.951   322.112    466.611    468.515
2006-02-10    558.75    557.00   319.834   317.198    466.597    463.780
2006-02-13    546.60    549.30   314.409   315.363    459.907    461.597
...              ...       ...       ...       ...        ...        ...
2016-11-24   1187.25   1186.10   953.600   950.300   1125.040   1121.460
2016-11-25   1187.50   1187.70   953.330   955.390   1121.830   1120.000
2016-11-28   1189.10   1187.00   956.510   956.600   1117.990   1121.240
2016-11-29   1187.30   1186.55   952.450   949.830   1119.980   1119.510
2016-11-30   1187.40   1178.10   952.060   946.370   1115.440   1111.890
2016-12-01   1168.75   1161.85   930.090   919.950   1099.680   1095.970
2016-12-02   1171.65   1173.50   929.000   927.420   1100.880   1102.030
2016-12-05   1164.90   1162.20   915.840   913.610   1095.360   1082.590
2016-12-06   1171.15   1172.50   918.180   921.350   1086.940   1092.420
2016-12-07   1171.25   1177.65   929.620   935.410   1092.190   1096.390
2016-12-08   1174.75   1171.05   925.470   929.460   1088.640   1101.720
2016-12-09   1168.90   1163.60   927.640   924.950   1100.750   1102.630
2016-12-12   1154.40   1156.10   916.820   912.630   1089.410   1089.160
2016-12-13   1157.35   1158.55   911.180   910.620   1090.800   1088.810
2016-12-14   1160.95   1162.25   917.380   915.040   1091.990   1091.820
2016-12-15   1132.45   1126.95   904.370   903.810   1080.700   1081.650
2016-12-16   1134.85   1131.60   911.170   911.160   1084.800   1085.090
2016-12-19   1137.60   1136.25   913.150   917.980   1089.140   1089.210
2016-12-20   1132.75   1125.70   915.940   913.730   1090.840   1085.400
2016-12-21   1134.40   1133.65   919.200   915.080   1091.070   1085.130
2016-12-22   1130.55   1131.35   916.200   917.300   1080.470   1080.210
2016-12-23   1131.00       NaN   921.990       NaN   1082.250        NaN
2016-12-28   1139.75   1134.60   931.290   929.690   1091.880   1092.510
2016-12-29   1146.80   1145.90   935.560   937.120   1094.850   1095.710
2016-12-30   1159.10       NaN   942.580       NaN   1098.360        NaN
2017-01-03   1148.65   1151.00   935.120   940.600   1103.280   1109.560
2017-01-04   1165.90   1164.25   949.980   947.700   1117.400   1113.140
2017-01-05   1173.05   1176.70   953.220   955.250   1116.160   1116.690
2017-01-06   1178.00   1175.85   951.350   954.080   1112.270   1114.000
2017-01-09   1176.10   1178.50   968.750   970.850   1118.590   1119.220

[2785 rows x 6 columns]

In [16]:
print data["USD (AM)"]

Date
2006-01-03     520.75
2006-01-04     534.35
2006-01-05     531.60
2006-01-06     529.50
2006-01-09     541.00
2006-01-10     545.25
2006-01-11     542.25
2006-01-12     547.50
2006-01-13     547.25
2006-01-16     559.40
2006-01-17     558.05
2006-01-18     544.75
2006-01-19     547.70
2006-01-20     559.25
2006-01-23     558.50
2006-01-24     556.65
2006-01-25     562.25
2006-01-26     562.25
2006-01-27     559.75
2006-01-30     560.30
2006-01-31     569.80
2006-02-01     567.20
2006-02-02     571.85
2006-02-03     571.85
2006-02-06     570.00
2006-02-07     568.25
2006-02-08     548.65
2006-02-09     559.00
2006-02-10     558.75
2006-02-13     546.60
               ...
2016-11-24    1187.25
2016-11-25    1187.50
2016-11-28    1189.10
2016-11-29    1187.30
2016-11-30    1187.40
2016-12-01    1168.75
2016-12-02    1171.65
2016-12-05    1164.90
2016-12-06    1171.15
2016-12-07    1171.25
2016-12-08    1174.75
2016-12-09    1168.90
2016-12-12    1154.40
2016-12-13    1157.35
2016-12-14    1160.95
2016-12-15    1132.45
2016-12-16    1134.85
2016-12-19    1137.60
2016-12-20    1132.75
2016-12-21    1134.40
2016-12-22    1130.55
2016-12-23    1131.00
2016-12-28    1139.75
2016-12-29    1146.80
2016-12-30    1159.10
2017-01-03    1148.65
2017-01-04    1165.90
2017-01-05    1173.05
2017-01-06    1178.00
2017-01-09    1176.10
Name: USD (AM), dtype: float64

In [20]:
temp =data["USD (AM)"][0]
maxResult = 0
for data_ in data["USD (AM)"]:
    result = data_ - temp
    if result >= maxResult:
        maxResult = result
    temp =data_
print maxResult

80.75

In [21]:
temp =data["USD (AM)"][0]
minResult = 0
for data_ in data["USD (AM)"]:
    result = data_ - temp
    if result <= minResult:
        minResult = result
    temp =data_
print minResult

-133.5

In [4]:
for i in range(5):
    print i

0
1
2
3
4

In [8]:
import keras
import numpy as np
data = np.empty((2785-36+1,1,6,6),dtype="float32")
label = np.empty((2785-36+1),dtype="uint8")
print label.shape

(2750L,)

In [13]:

for i in range(2785-35):
    
    for j in range(6):
        for k in range(6):
            data[i,0,j,k] = data["USD (AM)"][int(i+j*6+k)]
            
    result_label =  data["USD (AM)"][int(i+36)] - data["USD (AM)"][int(i+35)]
    if(result_label>=0 and result_label<1):
        label[i] = 0
    elif(result_label>=1 and result_label<2):
        label[i] = 1
    elif(result_label>=2 and result_label<4):
        label[i] = 2
    elif(result_label>=4 and result_label<8):
        label[i] = 3
    elif(result_label>=8 and result_label<16):
        label[i] = 4
    elif(result_label>=16):
        label[i] = 5
    elif(result_label>=-1 and result_label<0):
        label[i] = 6
    elif(result_label>=-2 and result_label<-1):
        label[i] = 7
    elif(result_label>=-4 and result_label<-2):
        label[i] = 8
    elif(result_label>=-8 and result_label<-4):
        label[i] = 9
    elif(result_label>=-16 and result_label<-8):
        label[i] = 10
    elif(result_label<-16):
        label[i] = 11

C:\Users\xibo\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [16]:
    for j in range(6):
        for k in range(6):
            print data["USD (AM)"][int(int(j)*6+int(k))]

C:\Users\xibo\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  app.launch_new_instance()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices